.title {
	background-color: #cfe0e8;
	color: #4040a1;
	font-family: Cambria;
	font-weight: bold;
	font-style: italic;
	font-size: 4em;
	height: 120px;
  padding: 8px;
  text-align: center;
}

#body {
	background-color: #b2b2b2;
}

#space {
	padding: 20px;
}

#spacewithcolor {
	padding: 8px;
	background-color: #4040a1;
}

#morespace {
	padding: 35px;
	background-color: #b2b2b2;
}

div.a {
	font-size: 20px;
}

#textboxid{
	height:30px;
	font-size:14pt;
}

#button:hover {
  background-color: #CC1820;
  color: white;
	font-size: 16px;

}
