.title {
	background-color: #cfe0e8;
	color: #4040a1;
	font-family: Cambria;
	font-weight: bold;
	font-style: italic;
	font-size: 4em;
	height: 120px;
  padding: 8px;
  text-align: center;
	border-radius: 20px;
}

#body {
	background-color: #b2b2b2;
}

#space {
	padding: 20px;
}

#spacewithcolor {
	padding: 8px;
	background-color: #4040a1;
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* Red */
.remove {
  color: green;
}

.remove:hover {
  background-color: red;
  color: white;
}
