.title {
	background-color: #cfe0e8;
	color: #4040a1;
	font-family: Cambria;
	font-weight: bold;
	font-style: italic;
	font-size: 4em;
	height: 120px;
  padding: 8px;
  text-align: center;
}

#main {
  margin: auto;
  display: flex;
  flex-direction: row;
	justify-content: space-evenly;
}


.input {
	height: 200px;
	width: 200px;
	font-size: 2em;
	font-family: Cambria;
	color: #92a8d1;
	margin-right: 20px;
}

.contents {
	height: 200px;
	width: 200px;
	font-size: 2em;
	font-family: Cambria;
	color: #92a8d1;
	margin-left: 20px;
}

.recipes {
	height: 200px;
	width: 200px;
	font-size: 2em;
	font-family: Cambria;
	color: #92a8d1;
}

#space {
	padding: 20px;
}

#spacewithcolor {
	padding: 8px;
	background-color: #4040a1;
}

#evenmorespaceforbackground {
	padding: 55px;
}

#body {
	flex: 1;
  display: flex;
  justify-content: space-evenly;
	flex-direction: column;
	/* background-color: #e3eaa7; */
	background-image: url("https://live.staticflickr.com/5472/9041948559_ae975fe9d8_b.jpg");
	background-size: 1500px 1100px;
}


button {
	margin: 20px;
	border: 4px solid darkgreen;
	background-color: white;
	font-weight: bold;
}
