<!DOCTYPE html>
<html>
  <head>
    <title>Title-Input Page</title>
    <link type="text/css" rel="stylesheet" href="/css/InputPage.css">
  </head>
  <body>
    <div id="top"></div>
      <div class="content-item title">Input Page</div>
    <div id="body">
      <div id="spacewithcolor"></div>
      <div id="morespace"></div>
      <div id="userinputs">
        <!-- <h2>Expiration Date</h2> -->
        <form action="/input" method="POST">
          <strong>Input Food</strong>
          <input type="text" name="addfooditem" id="fooditeminput" value="{{addfooditem}}"/> <br />
          <strong>Expiration Date</strong>
          <input type="date" name="expirationdate">
          <input type="submit" value="Submit">
        </form>
      </div>
      <a href="/"><button class="main" id="backbutton">Back to Main Page</button></a>
    </body>
</html>
