<!DOCTYPE html>
<html>
  <head>
    <title>Title-Input Page</title>
    <link type="text/css" rel="stylesheet" href="/css/InputPage.css">
  </head>
  <body>
    <div id="top"></div>
      <div class="content-item title">Input Page</div>
    <div id="body">
      <div id="spacewithcolor"></div>
      <h2>Local Date Field</h2>
      <p>The <strong>input type="datetime-local"</strong> specifies a date and time input field, with no time zone.</p>
      <p>Depending on browser support:<br>A date picker can pop-up when you enter the input field.</p>
      <form action="/input" method="POST">
        Start time:
        <input type="date" name="starttime">
        <input type="submit" value="Send">
      </form>
    </body>
</html>
