<!DOCTYPE html>
<html>
  <head>
    <title>Title-Input Page</title>
    <link type="text/css" rel="stylesheet" href="/css/InputPage.css">
  </head>
  <body>
    <div id="top"></div>
      <div class="content-item title">Input Page</div>
    <div id="body">
      <div id="spacewithcolor"></div>
      <div id="morespace"></div>
      <!-- <h2>Expiration Date</h2> -->
      <form action="/input" method="POST">
        Expiration Date:
        <input type="date" name="starttime">
        <input type="submit" value="Submit">
      </form>
    </body>
</html>
