<!DOCTYPE html>
<html>
  <head>
    <title>Title-Inventory</title>
    <link type="text/css" rel="stylesheet" href="/css/Inventory.css">
  </head>
  <body>
    <div id="top"></div>
      <div class="content-item title">Refrigerator Inventory</div>
    <div id="body">
      <div id="spacewithcolor"></div>
    <h1>Your Food Items</h1>
    {% for food in all_user_foods %}
      <p>{{food.food_name}}</p>
    {% endfor %}
    <h1>Expiration Dates</h1>
    {% for food in all_user_foods %}
      <p>{{food.expiration_date}}</p>
    {% endfor %}
  </body>
</html>
