<!DOCTYPE html>
<html>
  <head>
    <title>???</title>
    <link type="text/css" rel="stylesheet" href="/css/Mainpage.css">
  </head>
  <body>
    <div id="top"></div>
      <div class="content-item title">Title</div>
    <div id="body">
      <div id="spacewithcolor"></div>
      <div id="space"></div>
      <div id="main">
        <button class="input">Input Page</button>
        <button class="contents">Refrigerator Contents</button>
      </div>
      <div id="morebuttons">
        <center><button class="recipes">Possible Recipes</button></center>
      </body>
    </div>
</html>
