<!DOCTYPE html>
<html>
  <head>
    <title>???</title>
    <link type="text/css" rel="stylesheet" href="/css/Mainpage.css">
  </head>
  <body>
    <div id="top"></div>
      <div class="content-item title">Title</div>
    <div id="body">
      <div id="spacewithcolor"></div>
      <div id="space"></div>
      <div id="main">
        <a href="/input"><button class="input" id="inputbutton">Input Page</button></a>
        <a href="/inventory"><button class="contents">Refrigerator Contents</button></a>
      </div>
      <div id="morebuttons">
        <a href="/recipes"><center><button class="recipes">Possible Recipes</button></center></a>
      </body>
    </div>
</html>



<!--
<script type="text/javascript">
    document.getElementById("input").onclick = function () {
        location.href = "/input";
    };
</script> -->
