<!DOCTYPE html>
<html>
  <head>
    <title>Fridge Pal-Recipes</title>
    <link type="text/css" rel="stylesheet" href="/css/Recipes.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="top"></div>
      <div class="content-item title">Possible Recipes</div>
    <div id="body">
      <div id="spacewithcolor"></div>
      {% for recipe in recipes %}
          <a href="/recipe_redirect?id={{recipe['id']}}">{{recipe["title"]}}<br>
          <img src="{{recipe['image']}}"></a><br>
      {% endfor %}
    <a href="/"><button class="main" id="backbutton">Back to Main Page</button></a>
    </div>
      </body>
</html>
